/*-- scss:defaults --*/

$body-bg:                                 #fdfdfd !default;
$body-color:                              #313745 !default;
$headings-color:                          $body-color !default;
$code-block-bg:                           darken($body-bg, 3%) !default;
$navbar-bg:                               $body-bg !default;

$link-color:                              lighten($body-color, 30%) !default;
$link-shade-percentage:                   30% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

$code-color:                              lighten($body-color, 10%) !default;
$code-bg:                                 darken($body-bg, 10%) !default;

$card-border-color:                       $body-color !default;
$form-select-border-color:                $body-color !default;

/*-- scss:rules --*/

.card-footer {
    color: darken($body-bg, 30%);
    background-color: darken($body-bg, 2%);
}

.sherlock { filter: brightness(70%); }

.navbar { margin: auto auto auto; }
.nav { margin: auto 0.01% auto; }
.navbar-logo {
    filter: brightness(80%);
    max-height: 100px;
}

.fa-solid { color: #9ea1a8; }

.light-mode { display: block; }
.dark-mode { display: none; }

body {
  align-items: center;
  justify-content: center;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 200px;
  height: auto;
}

