/* =========================== */
/*            HOME             */
/* =========================== */

/* Define custom CSS variables */
:root {
        --accent: #e8aa45;
        --accent-hover: #cf912c;
        --background: #f4f7f9;
        --blue-dark: #0c87c6; #513ad3
        --blue-darkest: #1f6b9a;
        --blue-light: #daf0f6;
        --blue-light38: rgba(218, 240, 246, .38);
        --font-black: #202124;
        --gray-dark: #666;
        --gray-darkest: #333;
        --gray-light: #ccc;
        --gray-lightest: #eaeaea;
        --gray-medium: #999;
        --gray-pale: #f1f1f2;
        --gray-search: #717272;
        --highlight: rgba(255, 255, 0, .3);
        --primary: #1c7cc7;
        --primary-hover: #0866ae;
        --secondary: #00d0f4;
        --secondary-hover: #2dafd7;
        --white: #fff;
        --white-off: #f8f8f8;
        --bg-dark: #aa2b8b10;
        --yellow-dark: #f7d31f;
        --red-dark: #ff212c;
        --purple-dark: #aa2b8b;
        --purple-light: #aa2b8b40;
        --black: #000;
        --black1: rgba(0, 0, 0, .01);
        --black3: rgba(0, 0, 0, .03);
        --black6: rgba(0, 0, 0, .06);
        --black24: rgba(0, 0, 0, .24);
        --black38:rgba(0, 0, 0, .38);
    }

.navbar.navbar-default {
  background-color: var(--purple-dark) !important;
}

/* =========================== */
/*            HOME             */
/* =========================== */

/* Styles for header titles */
.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    .header-title-1 {
        color: var(--purple-dark);
        font-family: din-2014, sans-serif;
        text-align: center;
        font-size: clamp(20px, 3vw, 50px);
        width: 60vw;
    }
}

.sub-header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-bottom: 20px;

    .header-title-2 {
        color: var(--gray-dark);
        font-family: din-2014, sans-serif;
        text-align: center;
        font-size: clamp(15px, 2vw, 30px);
        max-width: 60vw;
    }
}

@media (max-width: 900px) {
  .header-box {
    height: 10vh !important;
  }

  .sub-header-box {
    height: 5vh !important;
    margin-bottom: 10px !important;
  }

  .header-title-1 {
    width: 90vw !important;
    font-size: 20px !important;
  }

  .header-title-2 {
    width: 90vw !important;
    font-size: 15px !important;
  }
}


/* Styles for statistics box container */
.stats-box-container {
  background-color: var(--bg-dark);
  margin: auto -23px;
  box-sizing: content-box;
}

.home-stats {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 3vh auto;
  box-sizing: content-box;
}

.stats-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-sizing: content-box;
}

.fa-thin {
  font-size: clamp(2em, 4em, 4em) !important;
}

/* Styles for project searcher container */
.proj-searcher-container {
    background: url(/www/bkg_1.jpg) 100%/cover no-repeat;
    opacity: 0.6;
    margin-left: -23px;
    margin-right: -23px;
}

.home-searcher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 2vw;

    .title-searcher {
        color: var(--purple-dark);
    }
}

/* Styles for work plots section */
.wp-plots {
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center;
}

.wp-button {
    padding: 10px 0;
}

.button-column {
    display: grid;
    align-content: center;
}

.plots-column {
    .header-text {
        line-height: 40px;
        color: var(--gray-dark);
        font-size: 28px;
        margin: 34px 0;
    }
}

/* Styles for description panel */
.dp-description {
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    margin-left: -23px;
    margin-right: -23px;
}

.dp-content {
    text-align: center;
    justify-content: center;
    font-family: din-2014, sans-serif;
    max-width: 800px;

    .dp-title {
        letter-spacing: 1.5px;
        margin: 30px 0 0;
        letter-spacing: .15px;
        line-height: 40px;
        text-transform: uppercase;
    }

    .dp-text {
        font-family: din-2014, sans-serif;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: .15px;
        line-height: 40px;
        margin: 30px 0 30px 0;
    }
}

.dp-image {
    max-width: 80%;
}

/* =========================== */
/*            EXPLORE          */
/* =========================== */

/* sidebar */
.explo-sidebar {

  --bslib-sidebar-padding-icon: 0;

  .nav-link {
    color: var(--gray-dark);
  }

  .nav-link.active {
    color: var(--purple-dark);
  }

  .bslib-card {
    --bs-card-border-width: 0;
    --bs-card-cap-bg: #fff;
    --bs-nav-link-color: var(--gray-search);
  }
}

/* sidebar input ui styles */
.form-check-input:checked,
.shiny-input-container .checkbox input:checked,
.shiny-input-container .checkbox-inline input:checked,
.shiny-input-container .radio input:checked,
.shiny-input-container .radio-inline input:checked {
    background-color: var(--purple-dark);
    border-color: var(--purple-dark);
}

.irs--shiny .irs-bar {
  border-top: 1px solid var(--purple-dark) !important;
  border-bottom: 1px solid var(--purple-dark) !important;
  background: var(--purple-dark) !important;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
  background-color: var(--purple-dark) !important;
}

.shiny-input-checkboxgroup.shiny-input-container-inline label~.shiny-options-group,
.shiny-input-radiogroup.shiny-input-container-inline label~.shiny-options-group {
    display: flex;
    flex-flow: column wrap;
}

/* accordions: general */
.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 .25rem var(--gray-search);
  --bs-accordion-active-bg: #80808010;
  border: 0;
}

/* stats card */
#explor_1-stat_boxs {
  --bs-card-border-color: 0;
  color: var(--purple-dark);
}

/* table containers */
#explor-tbl-card {
   --bs-nav-underline-link-active-color: var(--purple-dark);
   --bs-nav-link-color: var(--gray-dark);
   --bs-link-hover-color: var(--gray-dark);
}

.tbl-container .bslib-card .card-header {
  background-color: #80808010;
}

.project_button {
    --bs-btn-color: var(--purple-dark) !important;
    --bs-btn-bg: 0 !important;
    --bs-btn-border-color: 0 !important;
    --bs-btn-hover-bg: var(--purple-dark) !important;
    --bs-btn-hover-border-color: 0 !important;
}




